# max tries to enter password before entering emergencymode
MAX_TRIES=5
# startup delay. should be >=5 to fix problems with nvidia drivers
DELAY=0
# mappername for the encrypted drive
MAPPER_NAME="darkhome"
# UUID of the encrypted partiton. use: blkid | grep "crypto_LUKS" | cut -d"\"" -f2
LUKS_UUID="xxxxxxxe-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
# mountpoint to mount the encrypted drive to. should be /home
MOUNT_POINT="/home"
# array with UUIDs of USB-Sticks with the keyfile. use: blkid to find it.
KEY_UUIDS=( "xxxxxxxxxxxxxxx" )
# name of GPG encrypted keyfile. JPG hidden
KEYFILE="all_cats_black.jpg"
# nukemode to destroy your data!
# generate your nuke-hash via: "read -r -s -p "Nuke-Password: " p; echo; printf '%s' "$p" | sha256sum; unset p"
NUKE_HASH="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
